.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.noDotList {
    list-style-type: none;
    position: fixed;
    top: 0;
    gap: 3px;
    right: 10px;
}

.noDotList a:hover {
    opacity: 70%;
}

.resizeImage {
    width: 40px;
    height: 40px;
}

.resizeMain {
    width: 93%;
    text-align: center;
    margin: auto;
}

.navigationBarSlot {
    position: relative;
    display: inline-block;
    height: 105px;
    width: 105px;
    margin: 1px;
}

.navigationBarImageResize {
    width: 120px;
    height: 120px;
}

.navigationBar :hover {
    opacity: 100%;
    /* TO DO//make a class for every icons and make them turn into prime so yareli to yareli prime etc.*/
}

.navigationBar {
    position: relative;
    max-width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}